@model Exam.EF.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pro_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pro_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pro_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Cat_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Cat_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cat_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
