@model IEnumerable<WebBanHang.EF.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Backend/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Ảnh đại diện
        </th>
        <th>
            Mã sản phẩm
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.standard_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.list_price)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.quantity_per_unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (String.IsNullOrEmpty(item.image))
            {
                <img class="bd-placeholder-img card-img-top img-product img-thumbnail" width="100%" height="350" src="~/Content/img/no-photo.png">
            }
            else
            {
                <img class="bd-placeholder-img card-img-top img-product img-thumbnail" width="100%" height="350" src="~/UploadedFiles/@item.image">
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.standard_cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.list_price)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.quantity_per_unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discontinued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "ProductDetail", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
